Task_5_FrontEnd\SmartCheck\android\app\build\

Task_5_FrontEnd\SmartCheck\node_modules\

Task_6_BackEnd\backend\node_modules\

# Environment variables and secrets
.env
# Firebase service key file
Task_6_BackEnd\backend\firebaseservicekey.json

